<div x-show="userModal" id="userModalWindow" 
class="app-modal fixed inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50"
    tabindex="-1">
    <div class="relative w-full h-full max-w-md md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div 
                @click.away="userModal = false" 
                class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">User Attributes</h3>
                <div class="space-y-6">
                    <div x-data="{ user: $store.user}">
                        <div class="md:flex md:items-center mb-3">
                            <div
                                x-init="$watch('user.mobileUser', (val) => user.updateLocalStorage('is_mobile_user', val))">
                                <label class="relative inline-flex items-center cursor-pointer">
                                <input 
                                    x-model="user.mobileUser" 
                                    class="sr-only peer"
                                    type="checkbox" 
                                    x-bind:checked="user.mobileUser === true"
                                    name="mobileUserId" 
                                    id="mobileUserId">
                                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Mobile App User</span>
                                </label>
                            </div>
                        </div>
                        <div id="flagUserSection"></div>
                        <div
                            class="pb-5"
                            x-init="$watch('user.regionState', (val) => user.updateLocalStorage('region_state', val))">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
                            <input 
                                x-model="user.regionState" 
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                type="text" 
                                name="regionStateId" 
                                id="regionStateId">
                        </div>
                        <div id="userIdSection">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>